spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://user-profile-postgres:5432/user_profile
    username: user-profile
    password: user-profile
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  instance:
    hostname: user-profile-service
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE:http://eureka-server:8761/eureka/}
    registry-fetch-interval-seconds: 5
    initial-instance-info-replication-interval-seconds: 5

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    ru.cs.vsu.social_network: DEBUG
    org.springframework.cloud: INFO
    org.springframework.security: DEBUG