global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'spring-boot-app'
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ['monolith:8080']

  - job_name: 'infrastructure'
    static_configs:
      - targets:
          - 'alloy:9080'
          - 'loki:3100'