spring:
  application:
    name: content-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  jpa:
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: ${REDIS_TIMEOUT:5000ms}
  cache:
    type: redis

server:
  port: ${CONTENT_SERVICE_PORT:8083}
  servlet:
    context-path: /api/content

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: ${CONTENT_EUREKA_INSTANCE_HOSTNAME:content-service}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    ru.cs.vsu.social_network.contents_service: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    config-url: ${server.servlet.context-path}/api-docs/swagger-config
    url: ${server.servlet.context-path}/api-docs
    operations-sorter: method
    tags-sorter: alpha

app:
  gateway:
    signature-secret: ${SIGNATURE_KEY_SECRET:dev-shared-signature-secret}